@-moz-document regexp('https://github\\.com/\.*/\.*/blob\.*/.*\\.md')
{
  /* RegEx is chrome is https?://github\.com/(.*)/(.*)/blob(.*).md */
  body
  {
    width: 1100px;
  }

  .container, .container-responsive
  {
    max-width: 1100px;
  }

  /* container responsive is used when not logged in, the below styles attempt to tidy up the header some */
  .container-responsive{
    text-align: center;
  }
  .container-responsive .header-logo-invertocat{
    margin: 0 auto;
    position: relative;
    float: initial;
  }
  .container-responsive .header-logo-invertocat .octicon-mark-github{
    float: initial;
    margin: 0 auto;
  }
  .container-responsive .site-header-menu{
    text-align: center; 
  }
  .container-responsive .site-header-menu .site-header-nav{
    float: initial;
    margin: 0;
  }
  .container-responsive .site-header-menu .site-header-nav .nav-item{
    float: initial;
  }
  .container-responsive .site-header-menu .site-header-actions{
    display: inline-block;
    float: initial;
    text-align: center;
  }
  .container-responsive .site-header-menu .site-header-actions .header-search{
    margin-right: initial;
    float: initial;
  }

  /* 
    serif is more readable as long form 
    slightly larger font to reduce need for zooming
    reducing padding because why not 
  */
  .markdown-body{
    font-family: serif;
    font-size: 18px;
  }
  .file .readme .markdown-body{
    padding: 28px;
  }
}
